{cover_enabled, true}.

{erl_opts, [
    debug_info,
    %fail_on_warning,
    {parse_transform, lager_transform}
]}.


{deps, [
    pbkdf2,
    {nkservice, {git, "http://github.com/netcomposer/nkservice", {branch, "v10"}}},
    {nkelastic, {git, "http://github.com/netcomposer/nkelastic", {branch, "v10"}}},
    {nkfile, {git, "http://github.com/netcomposer/nkfile", {branch, "v10"}}},
    {nkrest, {git, "http://github.com/netcomposer/nkrest", {branch, "master"}}},
    {nkrpc9, {git, "http://github.com/netcomposer/nkrpc9", {branch, "master"}}},
    hackney
]}.



