{lib_dirs, ["deps"]}.

{erl_opts, [
    % native,
    debug_info, 
    fail_on_warning, 
    {parse_transform, lager_transform}
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.


{deps, [
	{yamler, ".*", {git, "http://github.com/goertzenator/yamler.git", {branch, "mapping_as_map"}}},	
	{nkdist, ".*", {git, "http://github.com/nekso/nkdist", {branch, "master"}}},
	{nkbase, ".*", {git, "http://github.com/Nekso/nkbase.git", {branch, "master"}}},
	{nkrole, ".*", {git, "http://github.com/nekso/nkrole", {branch, "master"}}}
]}.



