{cover_enabled, true}.

{erl_opts, [
    debug_info,
    fail_on_warning, 
    {parse_transform, lager_transform}
]}.



{deps, [
	yamerl,
    pbkdf2,
	%%{nkdist, {git, "http://github.com/netcomposer/nkdist", {branch, "ng"}}},
	{nkrole, {git, "http://github.com/netcomposer/nkrole", {branch, "ng"}}},
    {nkapi, {git, "http://github.com/netcomposer/nkapi", {branch, "v09"}}},
    {nkservice, {git, "http://github.com/netcomposer/nkservice", {branch, "v09"}}},
    {nkelastic, {git, "http://github.com/netcomposer/nkelastic", {branch, "v09"}}},
    {nkmail, {git, "http://github.com/netcomposer/nkmail", {branch, "v09"}}},
    {nkfile, {git, "http://github.com/netcomposer/nkfile", {branch, "v09"}}},
    {nkadmin, {git, "https://github.com/netcomposer/nkadmin", {branch, "v09"}}},
    p1_pgsql,
    {graphql, {git, "https://github.com/shopgun/graphql-erlang.git", {branch, "develop"}}},
    {iso8601, {git, "https://github.com/erlsci/iso8601.git", {branch, "master"}}}

]}.



